---
---

// Headers
$header-bg-color: #0D47A1 !default;
$header-bg-color-secondary: #0D47A1 !default;
//$header-bg-color-secondary: #1E88E5 !default;
// Text
$section-headings-color: #0D47A1 !default;
$body-link-color: #1E88E5 !default;


@import "{{ site.theme }}";

@import "jekyll-theme-cayman";

@media screen and (min-width: 64em) {

    .page-header {
        padding: 1rem 6rem;
    }
}

h1.project-name {

    font-weight: lighter;
}